/* ---------------------------------------
/* Fine Uploader Gallery View Styles
/* ---------------------------------------


/* Upload Button
------------------------------------------ */
.qq-upload-button {
    display: inline;
    width: 105px;
    padding: 7px 10px;
    float: left;
    text-align: center;
    background: #00ABC7;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #37B7CC;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.37) inset,
    1px 0 1px rgba(255, 255, 255, 0.07) inset,
    0 1px 0 rgba(0, 0, 0, 0.36),
    0 -2px 12px rgba(0, 0, 0, 0.08) inset
}
.qq-upload-button-hover {
    background: #33B6CC;
}
.qq-upload-button-focus {
    outline: 1px dotted #000000;
}


/* Drop Zone
------------------------------------------ */
.qq-uploader {
    position: relative;
    min-height: 200px;
    max-height: 490px;
    overflow-y: hidden;
    width: inherit;
    border-radius: 6px;
    border: 1px dashed #CCCCCC;
    background-color: #FDFDFD;
    padding: 20px;
}
.qq-uploader:before {
    content: attr(qq-drop-area-text);
    position: absolute;
    font-size: 200%;
    left: 0;
    width: 100%;
    text-align: center;
    top: 45%;
    opacity: 0.25;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    z-index: 2;
    background: #F9F9F9;
    border-radius: 4px;
    text-align: center;
}
.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}
.qq-upload-extra-drop-area {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    padding-top: 30px;
    height: 20px;
    min-height: 40px;
}
.qq-upload-drop-area-active {
    background: #FDFDFD;
    border-radius: 4px;
}
.qq-upload-list {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    max-height: 450px;
    overflow-y: auto;
}


/* Uploaded Elements
------------------------------------------ */
.qq-upload-list li {
    display: inline-block;
    position: relative;
    max-width: 120px;
    margin: 0 25px 25px 0;
    padding: 0;
    line-height: 16px;
    font-size: 13px;
    color: #424242;
    background-color: #F9F9F9;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.22);
    vertical-align: top;
}

.qq-upload-spinner, .qq-upload-size,
.qq-upload-retry, .qq-upload-failed-text,
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
    display: inline;
}
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue,
.qq-upload-cancel {
    cursor: pointer;
}
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
    border:none;
    background: none;
    text-decoration: underline;
    color: #00A0BA;
    font-size: 11px;
    padding: 0;
}
.qq-upload-status-text {
    color: #333333;
    font-size: 12px;
    display: block;
    padding-top: 2px;
    width: inherit;
}
.qq-upload-cancel {
    background-color: #525252;
    color: #F7F7F7;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    border: none;
    height: 22px;
    width: 22px;
    padding: 4px;
    position: absolute;
    right: -5px;
    top: -6px;
}
.qq-upload-retry {
    cursor: pointer;
    position: absolute;
    top: 53px;
    left: 50%;
    margin-left: -22px;
}

.qq-file-info {
    padding: 10px 6px 4px;
    margin-top: -3px;
    border-radius: 0 0 2px 2px;
    text-align: left;
    overflow: hidden;
}

.qq-file-info .qq-file-name {
    position: relative;
}

.qq-upload-file {
    display: block;
    margin-right: 0;
    margin-bottom: 3px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.qq-upload-spinner {
    display: inline-block;
    background: url("loading.gif");
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 53px;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.qq-drop-processing {
    display: block;
}
.qq-drop-processing-spinner {
    display: inline-block;
    background: url("processing.gif");
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}
.qq-upload-failed-text {
    display: none;
    font-style: italic;
    font-weight: bold;
}
.qq-upload-failed-icon {
    display:none;
    width:15px;
    height:15px;
    vertical-align:text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
    display: inline;
}
.qq-upload-list li.qq-upload-success {
    background-color: #F2F7ED;
}
.qq-upload-list li.qq-upload-fail {
    background-color: #F5EDED;
}
.qq-upload-list li.qq-upload-fail .qq-file-info {
    border: 1px solid #BF2828;
    border-top: none;
}
.qq-progress-bar {
    display: block;
    background: #00abc7;
    width: 0%;
    height: 15px;
    border-radius: 6px;
    margin-bottom: 3px;
}

.qq-total-progress-bar {
    height: 25px;
    border-radius: 9px;
}

.qq-total-progress-bar-container {
    margin-left: 9px;
    display: inline;
    float: right;
    width: 500px;
}

.qq-upload-size {
    font-size: 11px;
    color: #929292;
    margin-bottom: 3px;
    display: block;
}

INPUT.qq-edit-filename {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.qq-upload-file.qq-editable {
    cursor: pointer;
    margin-right: 20px;
}

.qq-edit-filename-icon.qq-editable {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

INPUT.qq-edit-filename.qq-editing {
    position: static;
    height: 28px;
    width: 90px;
    width: -moz-available;
    padding: 0 8px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 13px;

    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.qq-edit-filename-icon {
    display: none;
    background: url("edit.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-hide {
    display: none;
}


/* Thumbnail
------------------------------------------ */
.qq-thumbnail-wrapper {
    text-align: center;
    overflow: hidden;
}
.qq-thumbnail-selector {
    height: 120px;
    border-radius: 2px 2px 0 0;
}
