!!! 5
html
    head
    title Fine Uploader Test Suite
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body
        h3 
            a(href="/tests/unit") Unit Tests
        h3 
            a(href="/tests/integration") Integration Tests
