<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">


    <servlet>
        <servlet-name>UploadReceiver</servlet-name>
        <servlet-class>fineuploader.UploadReceiver</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>S3Uploads</servlet-name>
        <servlet-class>fineuploader.S3Uploads</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadReceiver</servlet-name>
        <url-pattern>/upload/receiver/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>S3Uploads</servlet-name>
        <url-pattern>/upload/s3/signature</url-pattern>
        <url-pattern>/upload/s3/files/*</url-pattern>
        <url-pattern>/upload/s3/success</url-pattern>
    </servlet-mapping>
</web-app>
