.*
*.ipr
*~
.*.sw[a-z]
*.iml
!.gitignore
Thumbs.db

build/*
release/*
master

!.travis.yml
hardcopy*
selenium.log*

fine-uploader/
test/upload/*
test/pid.txt
test/coverage/*
test/vendor/*
test/uploads/*
node_modules/
