.*
*.ipr
*~
.*.sw[a-z]
*.iml
!.gitignore
Thumbs.db

build/*
release/*
master

!.travis.yml
fine-uploader/
hardcopy*
?selenium.log*
test/upload/*
test/pid.txt
test/coverage/*
test/vendor/*
test/uploads/*
node_modules/
