.*
*.ipr
*~
.*.sw[a-z]
*.iml
*.iws
!.github
!.gitignore
!.jshintrc
!.jshintignore
Thumbs.db

_build/
_dist/
*.zip
release/*
master

!.travis.yml
hardcopy*
selenium.log*

root-server.PID
test-resources-server.PID

fine-uploader/
test/upload/*
test/uploadsTemp/
test/coverage/*
test/vendor/*
test/uploads/*
test/temp*
test/_temp*
test/_vendor*
node_modules/

bin/

src

npm-debug.log

test/dev/handlers/s3/composer.lock
test/dev/handlers/traditional/files
test/dev/handlers/traditional/chunks
s3keys.php
s3keys.sh

test/dev/handlers/vendor/*
test/dev/handlers/composer.lock
test/dev/handlers/composer.phar
