<?xml version="1.0"?>
<configuration>
  
  <!--   
    To allow uploading large files in asp.net:
    
    - Set path to the relative url of your upload action.        
    - Set maxRequestLength and maxAllowedContentLength to the maximum allowed bytes for your needs.    
    - Remove the surrounding <location> element to apply the settings to the entire application (probably not wise).    
  -->
  
  <location path="Upload/UploadFile">
    
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
      <httpRuntime maxRequestLength="2147483647"/>
    </system.web>
    
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483647"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

</configuration>