extends layout

block test-scripts
    script(src="/units/js/util.js")
    script(src="/units/js/promise.js")
    script(src="/units/js/button.js")
    script(src="/units/js/upload-data.js")

    include test-setup
