extends layout

block test-scripts
    script(src="../units/util.js")
    script(src="../units/promise.js")
    script(src="../units/button.js")
    script(src="../units/upload-data.js")

    include test-setup
